In [ ]:
import seaborn as sns
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [ ]:
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
# Missing values
print(titanic.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
data = titanic[['age', 'fare', 'pclass', 'sex']]
data = pd.get_dummies(data, drop_first = True)
data.head()

    age     fare  pclass  sex_male
0  22.0   7.2500       3      True
1  38.0  71.2833       1     False
2  26.0   7.9250       3     False
3  35.0  53.1000       1     False
4  35.0   8.0500       3      True

In [ ]:
imputer = IterativeImputer(max_iter=10, random_state=0)

In [ ]:
data_imputed = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)

In [ ]:
print("Datos originales")
print(data.head(20))
print("\nDatos imputados")
print(data_imputed.head(20))

Datos originales
     age     fare  pclass  sex_male
0   22.0   7.2500       3      True
1   38.0  71.2833       1     False
2   26.0   7.9250       3     False
3   35.0  53.1000       1     False
4   35.0   8.0500       3      True
5    NaN   8.4583       3      True
6   54.0  51.8625       1      True
7    2.0  21.0750       3      True
8   27.0  11.1333       3     False
9   14.0  30.0708       2     False
10   4.0  16.7000       3     False
11  58.0  26.5500       1     False
12  20.0   8.0500       3      True
13  39.0  31.2750       3      True
14  14.0   7.8542       3     False
15  55.0  16.0000       2     False
16   2.0  29.1250       3      True
17   NaN  13.0000       2      True
18  31.0  18.0000       3     False
19   NaN   7.2250       3     False

Datos imputados
          age     fare  pclass  sex_male
0   22.000000   7.2500     3.0       1.0
1   38.000000  71.2833     1.0       0.0
2   26.000000   7.9250     3.0       0.0
3   35.000000  53.1000     1.0       0.0
4   35.000000   8.0500     3.0       1.0
5   26.082704   8.4583     3.0       1.0
6   54.000000  51.8625     1.0       1.0
7    2.000000  21.0750     3.0       1.0
8   27.000000  11.1333     3.0       0.0
9   14.000000  30.0708     2.0       0.0
10   4.000000  16.7000     3.0       0.0
11  58.000000  26.5500     1.0       0.0
12  20.000000   8.0500     3.0       1.0
13  39.000000  31.2750     3.0       1.0
14  14.000000   7.8542     3.0       0.0
15  55.000000  16.0000     2.0       0.0
16   2.000000  29.1250     3.0       1.0
17  33.850204  13.0000     2.0       1.0
18  31.000000  18.0000     3.0       0.0
19  22.070708   7.2250     3.0       0.0

Exercise 1: Use MICE on the life-expectancy dataset https://www.kaggle.com/datasets/kumarajarshi/lif-expectany-whi
Con el dataset completo

In [ ]:
import kagglehub
DATASET_PATH = None
# Download the dataset from Kaggle
path = kagglehub.dataset_download("kumarajarshi/life-expectancy-who")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'life-expectancy-who' dataset.
Path to dataset files: /kaggle/input/life-expectancy-who

In [ ]:
life = pd.read_csv(f"{path}/Life Expectancy Data.csv")
life.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [ ]:
# Missing values
print(life.isnull().sum())

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [ ]:
life.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [ ]:
# Numeric Columns +  Status
data_life = life.select_dtypes(include=['float64', 'int64']).copy()
data_life = pd.concat([data_life, life['Status']], axis=1)

# One-hot encoding of Status column
data_life = pd.get_dummies(data_life, columns=['Status'], drop_first=True)
data_life.head()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status_Developing
0,2015,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,True
1,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,True
2,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,True
3,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,True
4,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,True

In [ ]:
# Imputer MICE
imputer = IterativeImputer(max_iter=10, random_state=0)
data_life_imputed = pd.DataFrame(imputer.fit_transform(data_life), columns=data_life.columns)

In [ ]:
# Original Data - Life Expectancy Dataset
print("Datos originales - Life Expectancy Dataset")
data_life.head(50)

Datos originales - Life Expectancy Dataset

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status_Developing
0,2015,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,True
1,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,True
2,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,True
3,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,True
4,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,True
5,2010,58.8,279.0,74,0.01,79.679367,66.0,1989,16.7,102,...,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2,True
6,2009,58.6,281.0,77,0.01,56.762217,63.0,2861,16.2,106,...,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9,True
7,2008,58.1,287.0,80,0.03,25.873925,64.0,1599,15.7,110,...,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7,True
8,2007,57.5,295.0,82,0.02,10.910156,63.0,1141,15.2,113,...,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4,True
9,2006,57.3,295.0,84,0.03,17.171518,64.0,1990,14.7,116,...,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1,True
10,2005,57.3,291.0,85,0.02,1.388648,66.0,1296,14.2,118,...,8.70,58.0,0.1,25.294130,257798.0,19.3,19.5,0.396,7.9,True
11,2004,57.0,293.0,87,0.02,15.296066,67.0,466,13.8,120,...,8.79,5.0,0.1,219.141353,24118979.0,19.5,19.7,0.381,6.8,True
12,2003,56.7,295.0,87,0.01,11.089053,65.0,798,13.4,122,...,8.82,41.0,0.1,198.728544,2364851.0,19.7,19.9,0.373,6.5,True
13,2002,56.2,3.0,88,0.01,16.887351,64.0,2486,13.0,122,...,7.76,36.0,0.1,187.845950,21979923.0,19.9,2.2,0.341,6.2,True
14,2001,55.3,316.0,88,0.01,10.574728,63.0,8762,12.6,122,...,7.80,33.0,0.1,117.496980,2966463.0,2.1,2.4,0.340,5.9,True
15,2000,54.8,321.0,88,0.01,10.424960,62.0,6532,12.2,122,...,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5,True
16,2015,77.8,74.0,0,4.60,364.975229,99.0,0,58.0,0,...,6.00,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2,True
17,2014,77.5,8.0,0,4.51,428.749067,98.0,0,57.2,1,...,5.88,98.0,0.1,4575.763787,288914.0,1.2,1.3,0.761,14.2,True
18,2013,77.2,84.0,0,4.76,430.876979,99.0,0,56.5,1,...,5.66,99.0,0.1,4414.723140,289592.0,1.3,1.4,0.759,14.2,True
19,2012,76.9,86.0,0,5.14,412.443356,99.0,9,55.8,1,...,5.59,99.0,0.1,4247.614380,2941.0,1.3,1.4,0.752,14.2,True
20,2011,76.6,88.0,0,5.37,437.062100,99.0,28,55.1,1,...,5.71,99.0,0.1,4437.178680,295195.0,1.4,1.5,0.738,13.3,True
21,2010,76.2,91.0,1,5.28,41.822757,99.0,10,54.3,1,...,5.34,99.0,0.1,494.358832,291321.0,1.4,1.5,0.725,12.5,True
22,2009,76.1,91.0,1,5.79,348.055952,98.0,0,53.5,1,...,5.79,98.0,0.1,4114.136545,2927519.0,1.5,1.6,0.721,12.2,True
23,2008,75.3,1.0,1,5.61,36.622068,99.0,0,52.6,1,...,5.87,99.0,0.1,437.539647,2947314.0,1.6,1.6,0.713,12.0,True
24,2007,75.9,9.0,1,5.58,32.246552,98.0,22,51.7,1,...,6.10,98.0,0.1,363.136850,29717.0,1.6,1.7,0.703,11.6,True
25,2006,74.2,99.0,1,5.31,3.302154,98.0,68,5.8,1,...,5.86,97.0,0.1,35.129300,2992547.0,1.7,1.8,0.696,11.4,True
26,2005,73.5,15.0,1,5.16,26.993121,98.0,6,49.9,1,...,6.12,98.0,0.1,279.142931,311487.0,1.8,1.8,0.685,10.8,True
27,2004,73.0,17.0,1,4.54,221.842800,99.0,7,48.9,1,...,6.38,97.0,0.1,2416.588235,326939.0,1.8,1.9,0.681,10.9,True
28,2003,72.8,18.0,1,4.29,14.719289,97.0,8,47.9,1,...,6.27,97.0,0.1,189.681557,339616.0,1.9,2.0,0.674,10.7,True
29,2002,73.3,15.0,1,3.73,104.516916,96.0,16,46.9,1,...,6.30,98.0,0.1,1453.642777,3511.0,2.0,2.1,0.670,10.7,True
30,2001,73.6,14.0,1,4.25,96.205571,96.0,18,46.0,1,...,6.00,97.0,0.1,1326.973390,36173.0,2.1,2.1,0.662,10.6,True
31,2000,72.6,11.0,1,3.66,91.711541,96.0,662,45.0,1,...,6.26,97.0,0.1,1175.788981,38927.0,2.1,2.2,0.656,10.7,True
32,2015,75.6,19.0,21,NaN,0.000000,95.0,63,59.5,24,...,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4,True
33,2014,75.4,11.0,21,0.01,54.237318,95.0,0,58.4,24,...,7.21,95.0,0.1,547.851700,39113313.0,6.0,5.8,0.741,14.4,True
34,2013,75.3,112.0,21,0.53,544.450743,95.0,25,57.2,24,...,7.12,95.0,0.1,5471.866766,38338562.0,5.9,5.8,0.737,14.4,True
35,2012,75.1,113.0,21,0.66,555.926083,95.0,18,56.1,24,...,6.14,95.0,0.1,5564.825660,37565847.0,5.9,5.8,0.732,14.4,True
36,2011,74.9,116.0,21,0.56,509.002041,95.0,112,55.0,24,...,5.29,95.0,0.1,5432.252300,36819558.0,5.9,5.8,0.724,14.0,True
37,2010,74.7,119.0,21,0.45,430.717586,95.0,103,53.9,24,...,5.12,95.0,0.1,4463.394675,36117637.0,5.9,5.8,0.714,13.6,True
38,2009,74.4,123.0,20,0.50,352.063642,94.0,107,52.8,23,...,5.36,95.0,0.1,3868.831230,3546576.0,6.0,5.9,0.705,13.1,True
39,2008,74.1,126.0,20,0.46,43.087173,91.0,217,51.8,23,...,4.20,93.0,0.1,495.254866,3486715.0,6.0,5.9,0.697,12.6,True
40,2007,73.8,129.0,20,0.44,320.323924,9.0,0,5.8,23,...,3.82,95.0,0.1,3935.183343,34376.0,6.0,5.9,0.690,12.3,True
41,2006,73.4,132.0,20,0.36,270.240196,8.0,944,49.8,23,...,3.36,95.0,0.1,3464.617900,33777915.0,6.1,6.0,0.686,12.3,True
42,2005,72.9,136.0,19,0.50,2.548923,83.0,2302,48.9,22,...,3.24,88.0,0.1,31.122378,33288437.0,6.1,6.0,0.680,12.0,True
43,2004,72.3,14.0,19,0.45,220.393699,81.0,3289,47.9,23,...,3.54,86.0,0.1,2598.982300,3283196.0,6.2,6.1,0.673,11.7,True
44,2003,71.7,146.0,20,0.34,25.018523,NaN,15374,47.0,23,...,3.60,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5,True
45,2002,71.6,145.0,20,0.36,148.511984,NaN,5862,46.1,23,...,3.73,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1,True
46,2001,71.4,145.0,20,0.23,147.986071,NaN,2686,45.3,24,...,3.84,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9,True
47,2000,71.3,145.0,21,0.25,154.455944,NaN,0,44.4,25,...,3.49,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7,True
48,2015,52.4,335.0,66,NaN,0.000000,64.0,118,23.3,98,...,NaN,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4,True
49,2014,51.7,348.0,67,8.33,23.965612,64.0,11699,22.7,101,...,3.31,64.0,2.0,479.312240,2692466.0,8.5,8.3,0.527,11.4,True

In [ ]:
# Imputed Data - Life Expectancy Dataset
print("\nDatos imputados - Life Expectancy Dataset")
data_life_imputed.head(50)

Datos imputados - Life Expectancy Dataset

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status_Developing
0,2015.0,65.0,263.0,62.0,0.010000,71.279624,65.000000,1154.0,19.1,83.0,...,8.160000,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,1.0
1,2014.0,59.9,271.0,64.0,0.010000,73.523582,62.000000,492.0,18.6,86.0,...,8.180000,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,1.0
2,2013.0,59.9,268.0,66.0,0.010000,73.219243,64.000000,430.0,18.1,89.0,...,8.130000,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,1.0
3,2012.0,59.5,272.0,69.0,0.010000,78.184215,67.000000,2787.0,17.6,93.0,...,8.520000,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,1.0
4,2011.0,59.2,275.0,71.0,0.010000,7.097109,68.000000,3013.0,17.2,97.0,...,7.870000,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,1.0
5,2010.0,58.8,279.0,74.0,0.010000,79.679367,66.000000,1989.0,16.7,102.0,...,9.200000,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2,1.0
6,2009.0,58.6,281.0,77.0,0.010000,56.762217,63.000000,2861.0,16.2,106.0,...,9.420000,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9,1.0
7,2008.0,58.1,287.0,80.0,0.030000,25.873925,64.000000,1599.0,15.7,110.0,...,8.330000,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7,1.0
8,2007.0,57.5,295.0,82.0,0.020000,10.910156,63.000000,1141.0,15.2,113.0,...,6.730000,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4,1.0
9,2006.0,57.3,295.0,84.0,0.030000,17.171518,64.000000,1990.0,14.7,116.0,...,7.430000,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1,1.0
10,2005.0,57.3,291.0,85.0,0.020000,1.388648,66.000000,1296.0,14.2,118.0,...,8.700000,58.0,0.1,25.294130,257798.0,19.3,19.5,0.396,7.9,1.0
11,2004.0,57.0,293.0,87.0,0.020000,15.296066,67.000000,466.0,13.8,120.0,...,8.790000,5.0,0.1,219.141353,24118979.0,19.5,19.7,0.381,6.8,1.0
12,2003.0,56.7,295.0,87.0,0.010000,11.089053,65.000000,798.0,13.4,122.0,...,8.820000,41.0,0.1,198.728544,2364851.0,19.7,19.9,0.373,6.5,1.0
13,2002.0,56.2,3.0,88.0,0.010000,16.887351,64.000000,2486.0,13.0,122.0,...,7.760000,36.0,0.1,187.845950,21979923.0,19.9,2.2,0.341,6.2,1.0
14,2001.0,55.3,316.0,88.0,0.010000,10.574728,63.000000,8762.0,12.6,122.0,...,7.800000,33.0,0.1,117.496980,2966463.0,2.1,2.4,0.340,5.9,1.0
15,2000.0,54.8,321.0,88.0,0.010000,10.424960,62.000000,6532.0,12.2,122.0,...,8.200000,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5,1.0
16,2015.0,77.8,74.0,0.0,4.600000,364.975229,99.000000,0.0,58.0,0.0,...,6.000000,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2,1.0
17,2014.0,77.5,8.0,0.0,4.510000,428.749067,98.000000,0.0,57.2,1.0,...,5.880000,98.0,0.1,4575.763787,288914.0,1.2,1.3,0.761,14.2,1.0
18,2013.0,77.2,84.0,0.0,4.760000,430.876979,99.000000,0.0,56.5,1.0,...,5.660000,99.0,0.1,4414.723140,289592.0,1.3,1.4,0.759,14.2,1.0
19,2012.0,76.9,86.0,0.0,5.140000,412.443356,99.000000,9.0,55.8,1.0,...,5.590000,99.0,0.1,4247.614380,2941.0,1.3,1.4,0.752,14.2,1.0
20,2011.0,76.6,88.0,0.0,5.370000,437.062100,99.000000,28.0,55.1,1.0,...,5.710000,99.0,0.1,4437.178680,295195.0,1.4,1.5,0.738,13.3,1.0
21,2010.0,76.2,91.0,1.0,5.280000,41.822757,99.000000,10.0,54.3,1.0,...,5.340000,99.0,0.1,494.358832,291321.0,1.4,1.5,0.725,12.5,1.0
22,2009.0,76.1,91.0,1.0,5.790000,348.055952,98.000000,0.0,53.5,1.0,...,5.790000,98.0,0.1,4114.136545,2927519.0,1.5,1.6,0.721,12.2,1.0
23,2008.0,75.3,1.0,1.0,5.610000,36.622068,99.000000,0.0,52.6,1.0,...,5.870000,99.0,0.1,437.539647,2947314.0,1.6,1.6,0.713,12.0,1.0
24,2007.0,75.9,9.0,1.0,5.580000,32.246552,98.000000,22.0,51.7,1.0,...,6.100000,98.0,0.1,363.136850,29717.0,1.6,1.7,0.703,11.6,1.0
25,2006.0,74.2,99.0,1.0,5.310000,3.302154,98.000000,68.0,5.8,1.0,...,5.860000,97.0,0.1,35.129300,2992547.0,1.7,1.8,0.696,11.4,1.0
26,2005.0,73.5,15.0,1.0,5.160000,26.993121,98.000000,6.0,49.9,1.0,...,6.120000,98.0,0.1,279.142931,311487.0,1.8,1.8,0.685,10.8,1.0
27,2004.0,73.0,17.0,1.0,4.540000,221.842800,99.000000,7.0,48.9,1.0,...,6.380000,97.0,0.1,2416.588235,326939.0,1.8,1.9,0.681,10.9,1.0
28,2003.0,72.8,18.0,1.0,4.290000,14.719289,97.000000,8.0,47.9,1.0,...,6.270000,97.0,0.1,189.681557,339616.0,1.9,2.0,0.674,10.7,1.0
29,2002.0,73.3,15.0,1.0,3.730000,104.516916,96.000000,16.0,46.9,1.0,...,6.300000,98.0,0.1,1453.642777,3511.0,2.0,2.1,0.670,10.7,1.0
30,2001.0,73.6,14.0,1.0,4.250000,96.205571,96.000000,18.0,46.0,1.0,...,6.000000,97.0,0.1,1326.973390,36173.0,2.1,2.1,0.662,10.6,1.0
31,2000.0,72.6,11.0,1.0,3.660000,91.711541,96.000000,662.0,45.0,1.0,...,6.260000,97.0,0.1,1175.788981,38927.0,2.1,2.2,0.656,10.7,1.0
32,2015.0,75.6,19.0,21.0,3.204685,0.000000,95.000000,63.0,59.5,24.0,...,6.300283,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4,1.0
33,2014.0,75.4,11.0,21.0,0.010000,54.237318,95.000000,0.0,58.4,24.0,...,7.210000,95.0,0.1,547.851700,39113313.0,6.0,5.8,0.741,14.4,1.0
34,2013.0,75.3,112.0,21.0,0.530000,544.450743,95.000000,25.0,57.2,24.0,...,7.120000,95.0,0.1,5471.866766,38338562.0,5.9,5.8,0.737,14.4,1.0
35,2012.0,75.1,113.0,21.0,0.660000,555.926083,95.000000,18.0,56.1,24.0,...,6.140000,95.0,0.1,5564.825660,37565847.0,5.9,5.8,0.732,14.4,1.0
36,2011.0,74.9,116.0,21.0,0.560000,509.002041,95.000000,112.0,55.0,24.0,...,5.290000,95.0,0.1,5432.252300,36819558.0,5.9,5.8,0.724,14.0,1.0
37,2010.0,74.7,119.0,21.0,0.450000,430.717586,95.000000,103.0,53.9,24.0,...,5.120000,95.0,0.1,4463.394675,36117637.0,5.9,5.8,0.714,13.6,1.0
38,2009.0,74.4,123.0,20.0,0.500000,352.063642,94.000000,107.0,52.8,23.0,...,5.360000,95.0,0.1,3868.831230,3546576.0,6.0,5.9,0.705,13.1,1.0
39,2008.0,74.1,126.0,20.0,0.460000,43.087173,91.000000,217.0,51.8,23.0,...,4.200000,93.0,0.1,495.254866,3486715.0,6.0,5.9,0.697,12.6,1.0
40,2007.0,73.8,129.0,20.0,0.440000,320.323924,9.000000,0.0,5.8,23.0,...,3.820000,95.0,0.1,3935.183343,34376.0,6.0,5.9,0.690,12.3,1.0
41,2006.0,73.4,132.0,20.0,0.360000,270.240196,8.000000,944.0,49.8,23.0,...,3.360000,95.0,0.1,3464.617900,33777915.0,6.1,6.0,0.686,12.3,1.0
42,2005.0,72.9,136.0,19.0,0.500000,2.548923,83.000000,2302.0,48.9,22.0,...,3.240000,88.0,0.1,31.122378,33288437.0,6.1,6.0,0.680,12.0,1.0
43,2004.0,72.3,14.0,19.0,0.450000,220.393699,81.000000,3289.0,47.9,23.0,...,3.540000,86.0,0.1,2598.982300,3283196.0,6.2,6.1,0.673,11.7,1.0
44,2003.0,71.7,146.0,20.0,0.340000,25.018523,81.368369,15374.0,47.0,23.0,...,3.600000,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5,1.0
45,2002.0,71.6,145.0,20.0,0.360000,148.511984,80.421234,5862.0,46.1,23.0,...,3.730000,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1,1.0
46,2001.0,71.4,145.0,20.0,0.230000,147.986071,82.057108,2686.0,45.3,24.0,...,3.840000,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9,1.0
47,2000.0,71.3,145.0,21.0,0.250000,154.455944,79.704999,0.0,44.4,25.0,...,3.490000,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7,1.0
48,2015.0,52.4,335.0,66.0,2.753875,0.000000,64.000000,118.0,23.3,98.0,...,5.142650,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4,1.0
49,2014.0,51.7,348.0,67.0,8.330000,23.965612,64.000000,11699.0,22.7,101.0,...,3.310000,64.0,2.0,479.312240,2692466.0,8.5,8.3,0.527,11.4,1.0

In [ ]:
# Check that there are no missing values in the imputed dataset
print(data_life_imputed.isnull().sum())

Year                               0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
Status_Developing                  0
dtype: int64

Exercise 2: Use MICE on the Planets(seaborn) dataset to fill in missing values

In [ ]:
# Load dataset
planets = sns.load_dataset('planets')
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
# Missing values
print(planets.isnull().sum())

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [ ]:
planets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [ ]:
# Select only numeric columns
numeric_cols = planets.select_dtypes(include=['float64', 'int64']).columns
data_planets = planets[numeric_cols].copy()
data_planets.head()

   number  orbital_period   mass  distance  year
0       1         269.300   7.10     77.40  2006
1       1         874.774   2.21     56.95  2008
2       1         763.000   2.60     19.84  2011
3       1         326.030  19.40    110.62  2007
4       1         516.220  10.50    119.47  2009

In [ ]:
# Imputer MICE
imputer = IterativeImputer(max_iter=10, random_state=0)
data_planets_imputed = pd.DataFrame(imputer.fit_transform(data_planets), columns=data_planets.columns)

In [ ]:
print("Datos originales - Planets Dataset")
print(data_planets.head(30))
print("\nDatos imputados - Planets Dataset")
print(data_planets_imputed.head(30))

Datos originales - Planets Dataset
    number  orbital_period    mass  distance  year
0        1      269.300000   7.100     77.40  2006
1        1      874.774000   2.210     56.95  2008
2        1      763.000000   2.600     19.84  2011
3        1      326.030000  19.400    110.62  2007
4        1      516.220000  10.500    119.47  2009
5        1      185.840000   4.800     76.39  2008
6        1     1773.400000   4.640     18.15  2002
7        1      798.500000     NaN     21.41  1996
8        1      993.300000  10.300     73.10  2008
9        2      452.800000   1.990     74.79  2010
10       2      883.000000   0.860     74.79  2010
11       1      335.100000   9.880     39.43  2009
12       1      479.100000   3.880     97.28  2008
13       3     1078.000000   2.530     14.08  1996
14       3     2391.000000   0.540     14.08  2001
15       3    14002.000000   1.640     14.08  2009
16       1        4.230785   0.472     15.36  1995
17       5       14.651000   0.800     12.53  1996
18       5       44.380000   0.165     12.53  2004
19       5     4909.000000   3.530     12.53  2002
20       5        0.736540     NaN     12.53  2011
21       5      261.200000   0.172     12.53  2007
22       3        4.215000   0.016      8.52  2009
23       3       38.021000   0.057      8.52  2009
24       3      123.010000   0.072      8.52  2009
25       1      116.688400     NaN     18.11  1996
26       1      691.900000     NaN     81.50  2012
27       1      952.700000   5.300     97.18  2008
28       1      181.400000   3.200     45.52  2013
29       1             NaN     NaN     45.52  2005

Datos imputados - Planets Dataset
    number  orbital_period       mass  distance    year
0      1.0      269.300000   7.100000     77.40  2006.0
1      1.0      874.774000   2.210000     56.95  2008.0
2      1.0      763.000000   2.600000     19.84  2011.0
3      1.0      326.030000  19.400000    110.62  2007.0
4      1.0      516.220000  10.500000    119.47  2009.0
5      1.0      185.840000   4.800000     76.39  2008.0
6      1.0     1773.400000   4.640000     18.15  2002.0
7      1.0      798.500000   3.869816     21.41  1996.0
8      1.0      993.300000  10.300000     73.10  2008.0
9      2.0      452.800000   1.990000     74.79  2010.0
10     2.0      883.000000   0.860000     74.79  2010.0
11     1.0      335.100000   9.880000     39.43  2009.0
12     1.0      479.100000   3.880000     97.28  2008.0
13     3.0     1078.000000   2.530000     14.08  1996.0
14     3.0     2391.000000   0.540000     14.08  2001.0
15     3.0    14002.000000   1.640000     14.08  2009.0
16     1.0        4.230785   0.472000     15.36  1995.0
17     5.0       14.651000   0.800000     12.53  1996.0
18     5.0       44.380000   0.165000     12.53  2004.0
19     5.0     4909.000000   3.530000     12.53  2002.0
20     5.0        0.736540  -0.259639     12.53  2011.0
21     5.0      261.200000   0.172000     12.53  2007.0
22     3.0        4.215000   0.016000      8.52  2009.0
23     3.0       38.021000   0.057000      8.52  2009.0
24     3.0      123.010000   0.072000      8.52  2009.0
25     1.0      116.688400   3.449598     18.11  1996.0
26     1.0      691.900000   2.528288     81.50  2012.0
27     1.0      952.700000   5.300000     97.18  2008.0
28     1.0      181.400000   3.200000     45.52  2013.0
29     1.0     1850.926595   3.450357     45.52  2005.0

In [ ]:
# Check that there are no missing values in the imputed dataset
print(data_planets_imputed.isnull().sum())

number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64